<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>

    <link href="/normalize.css" rel="stylesheet" >
    <link href="/skeleton.css" rel="stylesheet" >
</head>
<body>
    
    <div class="container">
        <h1><%= Budget.name %></h1>
        <a href="/budgets"><button>Back</button></a>
        <h5>Date</h5>
        <p><%= Budget.date %></p>
        <h5>Name</h5>
        <p><%= Budget.name %></p>
        <h5>From</h5>
        <p><%= Budget.from %></p>
        <h5>Amount</h5>
        <p><%= Budget.amount %></p>
        <h5>Tags</h5>
        <p><%= Budget.tags %></p>
    </div>
    
</body>
</html>


